name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  pull_request_target:
    types: [labeled]

jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'safe to test')
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 22.x
    - run: npm ci
    - run: npm run lint
    - run: xvfb-run -a npm test